header {
    background-color: gray; 
    text-align: center 
    
}

#jigsaw {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px; 
}

.rps_image {
    display: inline-block; 
    margin-left: auto;
    margin-right: auto;
    width: 33%; 
    height: 300px;  
}

h2,
h3 {
    text-align: center;
}

.column {
    float: left;
    width: 45%;
    height: 250px; 
}

.hidden {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    width:40em;
    height:26em;
    margin-top: -13em;
    margin-left: -20em;
    border: 1px solid black; 
}

.result_box_img {
    width: 70%;
    text-align: center;
}

#win_or_lose {
    text-align: center;  
    border: 0; 
    padding: 0; 
    margin: 0;
}

#player_column {
    float: left;
}
#computer_column {
    float: right; 
}

button {
    margin-left: 5px; 
    height: 70px; 
    width: 90%;
    border-radius: 10px; 
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 20px; 
    background-color: #BCE2FF; 
}